@import "/styles/abstract/variables";
@import "/styles/utilities/index";

.container {
  height: auto;
  margin-bottom: $section-spacing-desktop;

  &__header {
    margin-bottom: 4em;

    &__title {
      text-align: center;
      padding-bottom: 0.8em;
      border-bottom: 4px solid $color-primary;
      margin-bottom: 0 !important;
    }
  }

  &__button {
    height: 5em;
    width: 2em;
    color: $color-primary;
    font-size: 5em;
  }

  @media (max-width: $desktops) {
    &__header {
      margin-bottom: 0;

      &__title {
        font-size: 4.5rem !important;
        border-bottom: none !important;
        padding-bottom: 0;
        margin-bottom: 0 !important;
      }
    }

    &__divider {
      &__line {
        border-width: 2px;
        border-color: $color-tertiary;
      }
    }
  }
}
