@import "/styles/abstract/variables";
@import "/styles/utilities/index";

.container {
  height: auto;
  padding: 4em 0;

  &__title {
    font-weight: bold;
    font-family: $font-secondary;
    font-size: 4.8rem;
    word-spacing: 3px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px solid $color-primary;
    margin-bottom: none;

    h2 {
      text-align: center;
    }
  }

  &__button {
    height: 5em;
    width: 2em;
    color: $color-primary;
    font-size: 5em;
  }
}
