@import "styles/abstract/variables";

.clientList {
  height: 50vh;
  width: 100%;
  background: $background-color-secondary;
  padding: 10rem 0;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listTitle {
  padding: 15px 25px;
  background: linear-gradient(to bottom right, $color-primary, $color-secondary);
  color: $background-color-primary !important;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(to top left, $color-primary, $color-secondary);
  }
}
