@import "/styles/abstract/variables";

.container {
  margin-bottom: $section-spacing-desktop;

  &__title {
    text-align: center;
    padding-bottom: 0.8em;
    border-bottom: 4px solid $color-primary;
  }

  &__list {
    height: auto;
    padding: 3em 0;
  }

  @media (max-width: $desktops) {
    &__title {
      font-size: 4.5rem !important;
      padding-bottom: 0;
      margin-bottom: 0 !important;
      border-bottom: none;
    }
    &__divider {
      &__line {
        border-width: 2px;
        border-color: $color-tertiary;
      }
    }
  }
}
