@import "/styles/abstract/variables";

.footer {
  height: 50vh;

  &__container {
    height: 100%;
  }

  &__divider {
    height: 80%;
    border-width: 3px;
    border-color: $color-primary;
  }

  @media (max-width: $tablets) {
    height: auto;
    padding: 2em 0;
  }
}
