@import "/styles/abstract/variables";

.slide {
  height: 65vh;
  padding: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #fff;

    &__slideContainer {
      width: 100%;
      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          height: 10rem;
          fill: $color-primary;
        }
      }
    }
  }

  @media (max-width: $desktops) {
  }
}
