@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";

.map {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 80%;
  background: $primary-color;
  transition: background 0.5s, border-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  h2 {
    color: $primary-text-color;
    transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: $secondary-font;
  }

  svg {
    fill: white;
    transition: fill 0.5s, transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover {
    background: $primary-bg-color;
    border-color: $primary-color;

    h2 {
      color: $primary-color;
    }

    svg {
      fill: $primary-color;
      transform: scale(1.05);
    }
  }
}

.title {
  background-image: url("../../../../public/images/KenyanFlag.jpg");
}
