@import "/styles/abstract/variables";

.location {
  &__divider {
    div {
      border-width: 2px;
      border-color: $color-primary;
      margin: 0 0 1em 0;
    }
  }

  &__icon {
    margin: 0 0.5em 0.6em 0;
    font-size: 2rem;
    font-weight: 400;
    color: $color-primary;
  }

  @media (max-width: $tablets) {
    &__icon {
      font-size: 4rem;
    }
  }
}
