@import "/styles/abstract/variables";

.missionStatement {
  margin-bottom: 5rem;

  &__header {
    &__title {
      text-align: center;
      border-bottom: 4px solid $color-primary;
      padding-bottom: 0.5em;
    }
  }
  &__details {
    color: rgba(0, 0, 0, 0.8);
    margin-top: 2rem;
  }

  @media (max-width: $tablets) {
    &__header {
      &__title {
        font-size: 6rem !important;
      }
    }
  }
}
