@import "/styles/abstract/variables";

.container {
  height: 50%;
  width: 50%;

  &__card {
    height: 100%;
    // border: 2px solid $primary-color !important;

    &__avatar {
      height: 70%;
      width: 100%;
    }

    &__footer {
      height: 30%;
      background: $color-primary;
      text-align: center;

      &__header {
        margin-top: 1em;
        color: $color-primary-white !important;
        font-family: $font-secondary;
        letter-spacing: 0.88px;
      }
    }
  }
}
