@import "/styles/abstract/fonts";

$color-primary: #023059;
$color-secondary: #4fa8f7;
$color-tertiary: #0469c2;
$color-primary-white: #fff;
$color-secondary-white: #ccc;
$color-primary-black: #000;
$color-grey-light: #ccc;
$color-grey-fair: #999;
$color-grey-dark: #171717;
$color-grey-dark-fade: rgba(0, 0, 0, 0.85);
$color-error-primary: #b33030;
$color-error-secondary: rgba(216, 77, 71, 1);
$color-success-primary: #00a84f;
$color-success-secondary: #00fa75;
$color-info: #8eb4cb;
$color-warning-primary: #ffd900;
$color-danger-primary: #b33030;

$input-box-shadow: 0 0.1rem 0.3rem 0.1rem #ccc inset;

$box-shadow-light-inset: 0 0.1rem 2rem -0.5rem $color-primary-black inset;
$box-shadow-light: 0 0.1rem 4rem -0.5rem $color-grey-dark-fade;
$box-shadow-dark: 0 0.1rem 4rem -0.5rem $color-primary-black;
$box-shadow-theme-light: 0 0.1rem 2rem -0.5rem $color-secondary;
$box-shadow-success: 0 0.1rem 2rem 0 $color-success-primary;
$box-shadow-error: 0 0.1rem 2rem 0 $color-error-primary;

$text-color-primary: $color-grey-dark;
$text-color-secondary: $color-grey-fair;
$text-color-tertiary: $color-grey-dark-fade;

$text-shadow-light: 0 0 2rem #000;

$radial-gradient: radial-gradient(circle at top, $color-secondary, $color-tertiary);

$background-color-primary: $color-primary-white;
$background-color-secondary: $color-grey-light;

$section-spacing-desktop: 17rem;
$section-spacing-small-devices: 10rem;

// Small devices (576px and less)

$phones: 576px;

// Small devices (landscape phones, 576px and up)

$landscape-phones: 576px;

// Medium devices (tablets, 768px and up)

$tablets: 768px;

// Large devices (desktops, 992px and up)

$desktops: 992px;

// Extra large devices (large desktops, 1200px and up)

$large-desktops: 1200px;
