@import "/styles/abstract/variables";

.whoWeAre {
  margin-bottom: 5rem;

  &__header {
    height: 50vh;

    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 9.6rem !important;
      color: $color-primary-white !important;
    }

    span {
      height: 100% !important;

      img {
        object-fit: cover;
      }
    }
  }

  &__text {
    color: rgba(0, 0, 0, 0.8);
    margin-top: 5rem;
  }

  &__text1 {
    color: $color-primary;
  }

  @media (max-width: $tablets) {
    &__header {
      &__title {
        width: 100%;
        text-align: center;
      }
    }
  }
}
