@import "/styles/abstract/variables";

.container {
  height: auto;
  width: 100%;
  margin-bottom: $section-spacing-desktop;

  &__header {
    &__title {
      text-align: center;
      padding-bottom: 0.8em;
      border-bottom: 4px solid $color-primary;
    }
  }

  &__values {
    height: 50vh;
    width: 100%;
    padding: 15px;
  }

  @media (max-width: $desktops) {
    height: 100%;

    &__header {
      &__title {
        font-size: 4.5rem !important;
        padding-bottom: 0;
        margin-bottom: 0 !important;
        border-bottom: none;
        margin: 0;
      }
    }

    &__divider {
      &__line {
        border-width: 2px;
        border-color: $color-tertiary;
      }
    }
  }
}
