@import "styles/colors.scss";
@import "styles/fonts.scss";

.details {
  height: 90%;
  flex-direction: column;
}

.detailsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  background: $tertiary-color;
  transform: skew(15deg);
  font-family: $secondary-font;
}

.detailsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  word-spacing: 3px;
  letter-spacing: 0.5px;
  font-family: $primary-font;
}

.detailsTitle {
  color: $primary-text-color !important;
  margin-bottom: 0 !important;
  transform: skew(-5deg);
}
