.details {
  height: 90%;
  flex-direction: column;
}

.detailsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  background: #73777b;
  transform: skew(15deg);
}

.detailsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  word-spacing: 3px;
  letter-spacing: 0.5px;
}

.detailsTitle {
  color: white !important;
  margin-bottom: 0 !important;
  transform: skew(-5deg);
}
