.homeTitle {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  word-spacing: 3px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 4px solid #000073;
  margin-top: 50px;
}
