$primary-color: #000073;
$secondary-color: #0000bf;
$tertiary-color: #73777b;

$primary-bg-color: white;
$secondary-bg-color: #f0f2f5;
$tertiary-bg-color: $primary-color;

$primary-text-color: white;
$secondary-text-color: rgb(0, 0, 0, 0.45);
