@import "/styles/abstract/variables";

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    flex: 8;
    color: $color-primary !important;
    margin-bottom: 0 !important;
    font-family: $font-secondary !important;
  }

  svg {
    flex: 1;
  }
}

@media (min-width: $landscape-phones) {
  .logo {
    &__title {
      margin-left: 1.5rem;
    }
  }
}

@media (min-width: $tablets) {
}
